*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 80px 100px 0 100px;
  width: 90%;

}

header h1{
  color: blue;
  font-size: 3.25em;
  border-bottom: solid 1px grey;
  padding-bottom: 1em;

}

#info {
  padding-top: 1em;
  font-size: 1.2em;
  padding-bottom: 1em;
}

#tipsTricks{
  display: flex;
  flex-direction: column;

}

#tipsTricks img{
  width: 6em;
  height: 6em;
  border-radius: 50%;
  border: dashed grey;
}

.tip{
  display: flex;
  justify-content: space-around;
  margin:1.5em 6em 1.5em 3em;
  
}

.group {
  width: 80%;
  height: 7em;
  border-radius: 50px/50%;
  box-shadow: 5px 10px 5px 10px grey;
  padding: 1.5em;
  

}

.group h3{
  color: blue;
}